Repository cisagov/crossfeed, pull requests merged in 2021-03, with the labels that each got.

#981 Better batch domains in cve scan to meet memory limits
  backend/src/api/scans.ts
  backend/src/tasks/cve.ts
  backend/src/tasks/ecs-client.ts
  backend/src/tasks/search-sync.ts
  backend/src/tasks/wappalyzer.ts
Labels: backend

#987 Increase cpu and memory for wappalyzer scan
  backend/src/api/scans.ts
Labels: backend

#1000 Terraform fixes
  infrastructure/database.tf
  infrastructure/worker.tf
Labels: devops

#1001 Build docker containers faster, in parallel
  backend/src/tasks/test-proxy.ts
  docs/src/documentation-pages/contributing/setup.md
  package.json
Labels: devops

#1020 Delete webscraper bucket
  infrastructure/worker.tf
Labels: devops

#1024 Documentation: Generate correct slugs, highlighting
  docs/gatsby-config.js
  docs/gatsby-node.js
  docs/src/components/highlights.js
  docs/src/components/nav.js
  docs/src/components/sidenav.js
  docs/src/documentation-pages/usage/product-overview.md
  docs/src/templates/documentation-page.js
Labels: documentation

#1022 Fix telerik cpe detection by wappalyzer
  backend/src/tasks/helpers/technologies.json
Labels: backend

#1023 Include alternate IIS CPEs
  backend/src/tasks/cve.ts
  backend/src/tasks/test/__snapshots__/cve.test.ts.snap
  backend/src/tasks/test/cve.test.ts
Labels: backend

#1042 Make "Create new Organization" only visible to GLOBAL_ADMINS
  frontend/src/components/OrganizationList/OrganizationList.tsx
Labels: awaiting changes
