Repository cisagov/crossfeed, pull requests merged in 2023-10, with the labels that each got.

#2302 Fix cloudwatchToS3 Lambda
  backend/src/tasks/cloudwatchToS3.ts
Labels: Backend, Infrastructure

#2313 Bump @babel/traverse to 7.23.2
  frontend/package-lock.json
Labels: Frontend, Security, Dependencies

#2326 Add Temporary Notification to Login Page
  frontend/src/pages/AuthLogin/AuthLogin.tsx
  frontend/src/styles.scss
Labels: Frontend

#2335 React MUI styling not loading correctly
  frontend/src/context/Theme.tsx
  frontend/src/pages/Vulnerability/Vulnerability.tsx
Labels: Bug

#2344 Warning Banner text update
  frontend/package-lock.json
  frontend/src/pages/AuthLogin/AuthLogin.tsx
Labels: Frontend

#2350 Remove unused props import.
  frontend/src/test-utils/test-utils.tsx
Labels: Frontend

#2351 Add NPM Vulnerabilities fix to project
  backend/package-lock.json
  docs/package-lock.json
  package-lock.json
Labels: Frontend, Backend, Dependencies

#2347 Footer cutting off bottom of all pages
  frontend/src/components/Footer/styleFooter.ts
Labels: Frontend
