Repository cisagov/crossfeed, pull requests merged in 2024-01, with the labels that each got.

#2438 Set snyk and safety to suppress scrapy vulnerability until 2024-06-01.
  backend/.snyk
  backend/worker/.safety-policy.yml
Labels: github_actions

#2443 Fix Vuln Details Page in LZ
  frontend/src/context/Theme.tsx
  frontend/src/pages/Vulnerability/Vulnerability.tsx
Labels: Frontend

#2446 Fix Failing GitHub Actions Check for Frontend Test
  frontend/package-lock.json
  frontend/package.json
Labels: Frontend, Dependencies

#2455 Remove VPC Endpoints from Serverless Frontend
  frontend/env.yml
  frontend/serverless.yml
Labels: Frontend, Bug

#2457 Fix Frontend Pipeline: Add resource policy to API Gateway
  frontend/serverless.yml
Labels: Frontend, Bug

#2463 Add DNSTwist to SQS queue process
  backend/env.yml
  backend/serverless.yml
  backend/src/tasks/scanExecution.ts
  backend/worker/generate_config.sh
  backend/worker/pe-worker-entry.sh
  infrastructure/pe_worker.tf
  infrastructure/prod.tfvars
  infrastructure/stage.tfvars
  infrastructure/vars.tf
  infrastructure/worker.tf
Labels: Backend

#2470 Add SQS permissions to Fargate task role
  infrastructure/worker.tf
Labels: Backend

#2485 Push HTML email delivery system with no attachments
  backend/src/api/helpers.ts
  backend/src/api/users.ts
Labels: Backend

#2364 Re-design of AuthLogin Page
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/components/AuthForm/styles.module.scss
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/WarningBanner/Warning.tsx
  frontend/src/components/WarningBanner/index.ts
  frontend/src/components/WarningBanner/styleWarning.ts
  frontend/src/pages/AuthLogin/AuthLogin.tsx
  frontend/src/pages/AuthLogin/AuthLoginOld.tsx
  frontend/src/pages/AuthLogin/img/CISA_LOGO.png
  frontend/src/styles.scss
Labels: Feature Enhancement, Frontend, Story, FY24Q2
