Repository cisagov/crossfeed, pull requests merged in 2024-02, with the labels that each got.

#2502 Update nodemailer to fix CI backend vulnerability failures
  backend/package-lock.json
Labels: Dependencies

#2495 Create development environment for SQS workflow using RabbitMQ
  backend/Dockerfile.pe
  backend/package-lock.json
  backend/package.json
  backend/sendMessage.js
  backend/src/tasks/pesyncdb.ts
  backend/src/tasks/scanExecution.ts
  backend/src/tools/consumeControlQueue.ts
  backend/worker/generate_config.sh
  backend/worker/pe-worker-entry.sh
  dev.env.example
  docker-compose.yml
  docs/src/documentation-pages/dev/quickstart.md
Labels: Backend

#2469 Enable autoFocus of input fields for registration, login, and password reset.
  frontend/src/components/Register/RegisterForm.tsx
  frontend/src/pages/AuthLogin/AuthLogin.tsx
  frontend/src/pages/AuthLogin/AuthLoginCreate.tsx
  frontend/src/pages/AuthLogin/AuthLoginOld.tsx
Labels: Frontend

#2505 Add dockerode to backend dependencies
  backend/package-lock.json
  backend/package.json
Labels: Backend

#2516 Change API Gateways to Regional
  backend/serverless.yml
  frontend/serverless.yml
Labels: Backend

#2352 Re-design Vulnerability details page
  backend/src/api/app.ts
  backend/src/api/cpes.ts
  backend/src/api/cves.ts
  backend/src/api/vulnerabilities.ts
  backend/src/models/cve.ts
  backend/src/models/product-info.ts
  backend/test/cpes.test.ts
  backend/test/cves.test.ts
  frontend/src/pages/Risk/utils.ts
  frontend/src/pages/Vulnerability/Vulnerability.tsx
  frontend/src/pages/Vulnerability/vulnerabilityStyle.ts
  frontend/src/types/cve.ts
  frontend/src/types/index.ts
  frontend/src/types/product-info.ts
Labels: Frontend, Javascript, Epic

#2530 Add Intelx, Hibp, and Cybersixgill to SQS
  backend/Dockerfile.pe
  backend/env.yml
  backend/serverless.yml
  backend/src/tasks/functions.yml
  backend/src/tasks/scanExecution.ts
  backend/worker/generate_config.sh
  backend/worker/pe-worker-entry.sh
  dev.env.example
  infrastructure/pe_worker.tf
  infrastructure/prod.tfvars
  infrastructure/stage.tfvars
  infrastructure/vars.tf
  infrastructure/worker.tf
Labels: Backend

#2526 2521 Refactor CVE and Product Info Tables
  backend/src/api/app.ts
  backend/src/api/cpes.ts
  backend/src/api/cves.ts
  backend/src/models/connection.ts
  backend/src/models/cpe.ts
  backend/src/models/cve.ts
  backend/src/models/index.ts
  backend/src/models/product-info.ts
  backend/src/tasks/cve-sync.ts
  backend/src/tasks/helpers/saveCpesToDb.ts
  backend/src/tasks/helpers/saveCvesToDb.ts
  backend/src/tasks/sample_data/cves.json
  backend/src/tasks/syncdb.ts
  backend/src/tasks/test/cve-sync.test.ts
  backend/test/cpes.test.ts
  backend/test/cves.test.ts
  frontend/src/pages/Vulnerability/Vulnerability.tsx
  frontend/src/types/cpe.ts
  frontend/src/types/cve.ts
  frontend/src/types/index.ts
  frontend/src/types/product-info.ts
Labels: Backend, Refactor, API
